@font-face {
  font-family: '배달의민족 주아';
  src: url('../defaultDesign/BMJUA_otf.otf');
  src: url('../defaultDesign/BMJUA_ttf.ttf');
}

html,
body,
h1 {
  background-color: #f8e004;
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 50px;
  padding-bottom: 10px;
}

.mainHeader {
  width: 100%;
  height: 15vh;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader .logoImg img {
  display: block;
  width: 90px;
  margin-left: 30px;
  cursor: pointer;
}

.mainHeader .menuWrapper img {
  display: block;
  width: 30px;
  margin-right: 30px;
  cursor: pointer;
}

#logo {
  width: 80px;
  height: 50px;
  margin-top: 10px;
  margin-left: 30px;
}
#category {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-right: 30px;
}

h3 {
  font-family: '배달의민족 주아' !important;
  text-align: center;
  font-weight: bold !important;
  font-size: 2em !important;
  margin-top: 30px !important;
}

.list {
  display: table;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.box {
  width: 250px;
  height: 230px;
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  float: inherit;
  margin: 10px 10px;
}

.contents {
  font-family: '배달의민족 주아' !important;
  font-size: 23px;
  color: black;
  line-height: 2em;
}

.navbar {
  transform: scaleX(-1);
  width: 100%;
  height: 55px;
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 100;
  /* border: 1px solid red; */
}
.dropdown-toggle {
  position: absolute;
  opacity: 0;
}
.dropdown-label {
  margin-top: 12px;
  margin-left: 20px;
  width: 33px;
  height: 30px;
  display: block;
  position: absolute;
}
.dropdown-label::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 5px;
  border-top: 15px double #000;
  border-bottom: 5px solid #000;
}
.menu-slide-from-left {
  width: 350px;
  height: 800px;
  margin-top: 55px;
  transform: translateX(-500px);
  border: 4px solid black;
  background-color: #fff;
  position: absolute;
}
.transition-after-pageload {
  transition: 0.8s;
}
.dropdown-toggle:checked ~ .menu-slide-from-left {
  transform: translateX(0);
  transition: 0.8s;
}
.inner-menu-slide-from-left {
  transform: scaleX(-1);
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button-members {
  margin-top: 50px;
}
.button {
  color: white;
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.white-button {
  background-color: white;
  border: 2px solid white;
  color: black;
}
.black-button {
  border: 2px solid white;
}
.menu-options {
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
}
