@font-face{ 
font-family:'배달의민족 주아'; 
src:url("../defaultDesign/BMJUA_otf.otf"); 
src:url("../defaultDesign/BMJUA_ttf.ttf"); 
}

html,
body,
h1 {
  background-color: #f8e004;
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 50px;
  padding-bottom: 10px;
}

.mainHeader {
  width: 100%;
  height: 15vh;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader .logoImg img {
  display: block;
  width: 90px;
  margin-left: 30px;
  cursor: pointer;
}

.mainHeader .menuWrapper img {
  display: block;
  width: 30px;
  margin-right: 30px;
  cursor: pointer;
}

#logo {
  width: 80px;
  height: 50px;
  margin-top: 10px;
  margin-left: 30px;
}
#category {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-right: 30px;
}
hr {
  margin-top: 10px;
  border-color: #f8e004;
}
h3 {
  font-family: '배달의민족 주아'!important;
  text-align: center;
  font-weight: bold!important;
  font-size: 1.5em!important;
  margin-top: 100px;
  margin-bottom: 0px;
}
#search {
  text-align: center;
  margin-top: 10px;
  position: relative;
  top: -10px;
  left: 10px;
}
select.search_input {
  font-family: '배달의민족 주아';
  font-size: 17px;
  border: none;
  border-radius: 7px;
  height: 30px;
  width: 200px;
}
input.img_button {
  background: url('./img/SearchIcon.png');
  width: 22px;
  height: 22px;
  background-size: cover;
  border: 0;
  cursor: pointer;
  position: relative;
  top: 6px;
}
#shelter_name {
  text-align: center;
  position: relative;
  top: -10px;
  font-family: '배달의민족 주아';
  font-size: 1.2em;
  color: #968d8d;
  text-decoration: overline #968d8d;
  margin-top: 20px;
}
.box_wrap {
  margin-top: 10px!important;
  display: table;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
.row {
  width: 250px;
  height: 500px;
  line-height: 100px;
  background-color: white;
  display: inline-block;
  float: inherit;
  margin: 10px 10px;
}
.dog_img {
  width: 210px;
  height: 240px;
  margin-top: 20px;
  border-radius: 10px;
}
.dog_data {
  position: relative;
  top: -30px;
  margin-left: 30px;
  font-family: '배달의민족 주아';
  text-align: left;
  line-height: 30px;
}
.button {
  position: relative;
  top: -50px;
}
.detailed {
  margin-right: 20px;
  background-color: gray;
  font-family: '배달의민족 주아';
  font-size: 20px;
  border-radius: 7px;
  padding: 5px;
}
.go_shelter {
  background-color: #f8e004;
  font-family: '배달의민족 주아';
  font-size: 20px;
  border-radius: 7px;
  padding: 5px;
}
