html,
body,

  .mainWrapper {
    background-color: #f8e004;
    width: 100%;
    height: 100vh;
  }
  
  header {
    width: 100%;
    height: 10vh;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mainHeader {
    width: 100%;
    height: 15vh;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mainHeader .logoImg img {
    display: block;
    width: 90px;
    margin-left: 30px;
    cursor: pointer;
  }
  
  .mainHeader .menuWrapper img {
    display: block;
    width: 30px;
    margin-right: 30px;
    cursor: pointer;
  }
  
  header img {
    display: block;
  }
  
  #logo {
    width: 80px;
    height: 50px;
    margin-left: 30px;
  }
  #category {
   
    display: block;
    width: 30px;
    margin-right: 30px;
    cursor: pointer;
  }
.box{
  width: 80%;
  height: 75vh;
  background-color:white;
  position:relative;
  margin-left:125px;
}
.boxLeft{
  float: left;
  margin-top:50px;
  margin-left:50px;
}
.boxRight{
  position:relative;
  top:80px;
  left:60px;
}
.boxInfo{
  font-size:30px;
  font-weight: 500;
}
.boxDetail{
  position:relative;
  top:40px;
  left:10px;
  margin:40px;
  display:flex;
  flex-direction:block;
  font-size:18px;
}
.button{
  font-size:18px;
  border-radius: 7px;
}