html,
body,

  .mainWrapper {
    background-color: #f8e004;
    width: 100%;
    height: 100vh;
  }
  
  header {
    width: 100%;
    height: 10vh;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mainHeader {
    width: 100%;
    height: 15vh;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mainHeader .logoImg img {
    display: block;
    width: 90px;
    margin-left: 30px;
    cursor: pointer;
  }
  
  .mainHeader .menuWrapper img {
    display: block;
    width: 30px;
    margin-right: 30px;
    cursor: pointer;
  }
  
  header img {
    display: block;
  }
  
  #logo {
    width: 80px;
    height: 50px;
    margin-left: 30px;
  }
  #category {
   
    display: block;
    width: 30px;
    margin-right: 30px;
    cursor: pointer;
  }