@font-face {
  font-family: '배달의민족 주아';
  src: url('../defaultDesign/BMJUA_otf.otf');
  src: url('../defaultDesign/BMJUA_ttf.ttf');
}
* {
  font-family: '배달의민족 주아' !important;
}

html,
body,
.mainWrapper {
  background-color: #f8e004;
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 10vh;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader {
  width: 100%;
  height: 15vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader .logoImg img {
  display: block;
  width: 90px;
  margin-left: 30px;
  cursor: pointer;
}

.mainHeader .menuWrapper img {
  display: block;
  width: 40px;
  margin-right: 30px;
  cursor: pointer;
}

header img {
  display: block;
}

#logo {
  width: 80px;
  height: 50px;
  margin-left: 30px;
}
#category {
  display: block;
  width: 30px;
  margin-right: 30px;
  cursor: pointer;
}
#map {
  width: 80%;
  height: 450px;
  clear: both;
  margin-left: 122px;
}

.inputWrapper {
  width: 100%;
  /* height: 30vh; */
  /* margin-top: 250px; */
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputWrapper input {
  width: 250px;
  height: 4vh;
  border: 2px solid black;
  border-radius: 20px;
}

.inputWrapper button {
  width: 60px;
  height: 4.8vh;
  background-color: #f8e004;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10vh;
}

.menuTitle {
  width: 100%;
  height: 20vh;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuTitle span {
  font-size: 32px;
  font-weight: 600;
}

.inputWrapper button:hover {
  background-color: black;
  color: #f8e004;
  font-weight: 800;
}

input:focus {
  outline: none;
}

.warnning {
  margin-bottom: 20px;
}

.navbar {
  transform: scaleX(-1);
  width: 100%;
  height: 55px;
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 100;
  /* border: 1px solid red; */
}
.dropdown-toggle {
  position: absolute;
  opacity: 0;
}
.dropdown-label {
  margin-top: 12px;
  margin-left: 20px;
  width: 33px;
  height: 30px;
  display: block;
  position: absolute;
}
.dropdown-label::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 5px;
  border-top: 15px double #000;
  border-bottom: 5px solid #000;
}
.menu-slide-from-left {
  width: 350px;
  height: 800px;
  margin-top: 55px;
  transform: translateX(-500px);
  border: 4px solid black;
  background-color: #fff;
  position: absolute;
}
.transition-after-pageload {
  transition: 0.8s;
}
.dropdown-toggle:checked ~ .menu-slide-from-left {
  transform: translateX(0);
  transition: 0.8s;
}
.inner-menu-slide-from-left {
  transform: scaleX(-1);
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button-members {
  margin-top: 50px;
}
.button {
  color: white;
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.white-button {
  background-color: white;
  border: 2px solid white;
  color: black;
}
.black-button {
  border: 2px solid white;
}
.menu-options {
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
}
