html,
body,
.mainWrapper {
  background-color: #f8e004;
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 10vh;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader {
  width: 100%;
  height: 15vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader .logoImg img {
  display: block;
  width: 90px;
  margin-left: 30px;
  cursor: pointer;
}

.mainHeader .menuWrapper img {
  display: block;
  width: 30px;
  margin-right: 30px;
  cursor: pointer;
}

header img {
  display: block;
}

#logo {
  width: 80px;
  height: 50px;
  margin-left: 30px;
}
#category {
  display: block;
  width: 30px;
  margin-right: 30px;
  cursor: pointer;
}
#map {
  width: 80%;
  height: 450px;
  clear: both;
  margin-left: 122px;
}

.inputWrapper {
  width: 100%;
  /* height: 30vh; */
  /* margin-top: 250px; */
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputWrapper input {
  width: 250px;
  height: 4vh;
  border: 2px solid black;
  border-radius: 20px;
}

.inputWrapper button {
  width: 60px;
  height: 4.8vh;
  background-color: #f8e004;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10vh;
}

.menuTitle {
  width: 100%;
  height: 20vh;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuTitle span {
  font-size: 32px;
  font-weight: 600;
}

.inputWrapper button:hover {
  background-color: black;
  color: #f8e004;
  font-weight: 800;
}

input:focus {
  outline: none;
}

.warnning {
  margin-bottom: 20px;
}
