<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Missing Dog | Mapview</title>
    <link rel="stylesheet" href="./mapView.css" />
    <link rel="stylesheet" href="../common/reset.css" />
  </head>
  <body>
      <style>
        li{list-style:none;}
        .button{
          width:250px;
          height:50px;
          border-radius: 50px;
          color:grey;
          text-align: center;
          line-height: 50px;
          cursor: pointer;
          margin-left: 500px;
          margin-right: 500px;
          background-color: white;
        }
       .img1{
         position:relative;
         top:225px;
         left:785px;      
       }
       .img2{
         position:relative;
         top:312px;
         left:369px;
       }
       .img3{
         position:relative;
         left:1010px;
         
       }
          body{background-color:yellow;
          }
          h1{
            background-color: white;
            padding: 24px;
            margin-left: 300px;
            margin-right: 300px;
            margin-top: 160px;
            text-align: center;
            font-size: 5vh;
            color:grey;
            border-radius: 50px;
           
         }
          </style>



         <img src="./img/logo.png", width=100>

          
          <img class="img1" src="./img/SearchIcon.png", width=35>
          <img class="img2" src="./img/pin.png", width=35>
          <img class="img3" src="./img/CategoryIcon.png", width=50>
         
    <div>
        <h1>
            "원하는 지역이 어디신가요?"
           
        </h1>
    </div>
    <form>
      <li>
        <div class = "button">현재위치</div>
        </li>
      </form>
    <!-- 
    <img src="./img/각자폴더 내 이미지 파일" alt="">
    이런식으로 이미지 사용해주세요~
     -->
  </body>
</html>