@font-face {
  font-family: '배달의민족 주아';
  src: url('../defaultDesign/BMJUA_otf.otf');
  src: url('../defaultDesign/BMJUA_ttf.ttf');
}

.mainWrapper {
  width: 100%;
  height: auto;
  background-color: #f8e004;
}

.mainHeader {
  width: 100%;
  height: 15vh;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader .logoImg img {
  display: block;
  width: 90px;
  margin-left: 30px;
  cursor: pointer;
}

.mainHeader .menuWrapper img {
  display: block;
  width: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.mainTitle {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.mainTitle .quizTitle {
  font-size: 32px;
  font-weight: 800;
}

.quizContents {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.quizItem {
  /* border: 1px solid blue; */
  width: 70%;
  height: 500px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quizItem .quizItemTitle {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.quizItem .quizItemTitle span {
  font-size: 22px;
  font-weight: 700;
}

.quizItemContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizItemContent .quizNumber {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  border: 2px solid #f8e004;
  width: 60%;
  height: 40px;
  border-radius: 10px;
  display: flex;
  padding: 0 15px;
  align-items: center;
  cursor: pointer;
}

.quizItemContent .quizNumber:hover {
  background-color: #f8e004;
  color: black;
}

.quizItemButton {
  display: flex;
  justify-content: center;
}

.quizItemButton button {
  cursor: pointer;
  border: 2px solid #f8e004;
  border-radius: 15px;
  width: 120px;
  height: 50px;
  color: #000;
  font-weight: 700;
  background-color: #f8e004;
  font-size: 19px;
}

.quizItemButton button:hover {
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 14px 8px rgba(237, 214, 4, 0.79);
  box-shadow: 0px 0px 14px 8px rgba(237, 214, 4, 0.79);
}
