html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

.mainWrapper {
  width: 100%;
  height: auto;
  background-color: #f8e004;
}

.mainHeader {
  width: 100%;
  height: 15vh;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader .logoImg img {
  display: block;
  width: 90px;
  margin-left: 30px;
  cursor: pointer;
}

.mainHeader .menuWrapper img {
  display: block;
  width: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.mainContents {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.mainTitleWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
}

.mainTitleWrapper span {
  font-size: 30px;
  font-weight: 700;
}

.contentsWrapper {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
}

.leftContentsWrapper {
  position: fixed;
  bottom: 20;
  width: 15%;
  height: auto;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.leftItem {
  display: block;
  margin: 10px 0;
  width: 150px;
  border: 2px solid #f8e004;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 700;
}

.leftItem:hover {
  background-color: #f8e004;
  color: #ffffff;
}

.title {
  padding-top: 50px;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  /* border: 1px solid green; */
}

.title span {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  width: auto;
  padding: 10px;
  border-radius: 15px;
  border: 2px dotted black;
}

.contentsVideos {
  width: 100%;
  height: 100vh;
}

.videoIframe {
  width: 100%;

  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
