html,
body,
h1 {
  /* border: 1px solid red; */
  /* background-color: yellow; */
  margin: 0;
  padding: 0;
  font-family: '배달의민족 주아', Serif;
}
.mainWrapper {
  background-color: #f8e004;
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 10vh;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader {
  width: 100%;
  height: 15vh;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader .logoImg img {
  display: block;
  width: 90px;
  margin-left: 30px;
  cursor: pointer;
}

.mainHeader .menuWrapper img {
  display: block;
  width: 30px;
  margin-right: 30px;
  cursor: pointer;
}

header img {
  display: block;
}

#logo {
  width: 80px;
  height: 50px;
  margin-left: 30px;
}
#category {
  /* float: right; */
  display: block;
  width: 30px;
  margin-right: 30px;
  cursor: pointer;
}
hr {
  margin-top: 10px;
  border-color: #f8e004;
}
section {
  /* margin-left: 100px; */
  /* margin-right: auto; */
  /* margin-top: 100px; */
  /* text-align: center; */
  /* justify-content: center; */
  background-color: white;
  width: 30%;
  height: 60vh;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
}
h5 {
  text-align: center;
  display: block;
}
img {
  position: relative;
  display: block;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.box_wrap {
  width: auto;
  margin: 0 auto;
  background-color: white;
}
.row {
  width: 30%;
  height: 500px;
  line-height: 100px;
  background-color: lightgoldenrodyellow;
  text-align: center;
  float: left;
  margin: 0 10px;
}

.contentsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  /* position: relative;
  top: -70px; */
  margin-top: 20px;
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #f8e004;
  border: 1px solid black;
  font-weight: bold;

}

/* 여기부터 추가 */

/* 카드 2개를 cardWrapper 박스로 묶어준 뒤 flex 속성을 이용하면 위아래 좌우 정렬이 가능해요 */

.cardWrapper {
  /* border: 1px solid red; */
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8e004;
}

a {
  text-decoration-line: none;
}