@font-face {
  font-family: '배달의민족 주아';
  src: url('../defaultDesign/BMJUA_otf.otf');
  src: url('../defaultDesign/BMJUA_ttf.ttf');
}
* {
  font-family: '배달의민족 주아' !important;
}

a {
  text-decoration: none;
}
.mainWrapper {
  width: 100%;
  height: 100vh;
  background-color: #f8e004;
}

.mainHeader {
  width: 100%;
  height: 15vh;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader .logoImg img {
  display: block;
  width: 90px;
  margin-left: 30px;
  cursor: pointer;
}

.mainHeader .menuWrapper img {
  display: block;
  width: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.mainContents {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.mainContents .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
  margin-bottom: 30px;
}

.mainContents .slider .chev {
  font-size: 50px;
  color: #fff;
  margin: 0 30px;
}

.mainContents .slider .chev:hover {
  cursor: pointer;
  color: #000;
}

.mainTitle {
  width: 100%;
}

.mainTitle img {
  display: block;
  margin: 0 auto;
  width: 30%;
}

.mainSearch {
  margin-top: 50px;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.mainSearch button {
  border: none;
  width: 300px;
  height: 60px;
  border-radius: 15px;
  background-color: #0885fd;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.mainSearch input {
  border: none;
  padding-left: 30px;
  width: 280px;
  height: 50px;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

/* footer */

.mainFooter {
  width: 100%;
  /* border: 1px solid #000; */
  height: 40vh;
  display: flex;
}

.btnWrapper {
  width: 35%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 50px; */
  /* align-items: center; */
}

.btn {
  width: 350px;
  height: 70px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  margin-left: 50px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.stateBtn {
  background-color: #0885fd;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.stateBtn a {
  color: #fff;
}

.stateBtn:hover {
  /* background-color: #fff; */
  /* color: #fff; */
}

.eduBtn {
  font-size: 20px;
  font-weight: 500;
}

.eduBtn a {
  color: #000;
}
.eduBtn:hover {
  /* background-color: #0885fd; */
  /* color: #0885fd; */
}

.centerWrapper {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.centerItem {
  cursor: pointer;
  width: 130px;
  height: 165px;
  border-radius: 7px;
  background-color: #fff;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerItem span {
  font-weight: 700;
  /* color: red; */
  font-size: 18px;
  text-align: center;
}

.dog {
  font-size: 32px;
}

/* 슬라이더 */

.navbar {
  transform: scaleX(-1);
  width: 100%;
  height: 55px;
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 100;
  /* border: 1px solid red; */
}
.dropdown-toggle {
  position: absolute;
  opacity: 0;
}
.dropdown-label {
  margin-top: 12px;
  margin-left: 20px;
  width: 33px;
  height: 30px;
  display: block;
  position: absolute;
}
.dropdown-label::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 5px;
  border-top: 15px double #000;
  border-bottom: 5px solid #000;
}
.menu-slide-from-left {
  width: 350px;
  height: 800px;
  margin-top: 55px;
  transform: translateX(-500px);
  border: 4px solid black;
  background-color: #fff;
  position: absolute;
}
.transition-after-pageload {
  transition: 0.8s;
}
.dropdown-toggle:checked ~ .menu-slide-from-left {
  transform: translateX(0);
  transition: 0.8s;
}
.inner-menu-slide-from-left {
  transform: scaleX(-1);
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button-members {
  margin-top: 50px;
}
.button {
  color: white;
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.white-button {
  background-color: white;
  border: 2px solid white;
  color: black;
}
.black-button {
  border: 2px solid white;
}
.menu-options {
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
}
